<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finalizar Compra</title>
</head>
<body>
<h1>Finalizar compra</h1>
<h2>Produto: {{.Nome}}</h2>
<h3>Total: {{.Preco}}</h3>

<form action="/finish" method="post">
    <input type="hidden" name="produto_id" value="{{.Id}}"><br>
    Nome: <input type="text" name="nome"><br><br>
    Email: <input type="text" name="email"><br><br>
    Telefone: <input type="text" name="telefone"><br><br>
    <button>Finalizar compra</button>
</form>
</body>
</html>